
.board__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
    overscroll-behavior-y: contain;
}

.board__container button{
    background-color: white;
    margin: 0.6rem;
    border-radius: 28px;
    padding: 0.2rem;
}
.board__container button:hover{
 cursor: pointer;
 outline: none;
transition: ease-in-out .8s;
}
.board__container button span{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 1.2rem;
}