.container{
    background-color:DodgerBlue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
}

.container button{
    padding: 0.6rem;
    border-radius: 28px;
}

.container button:hover{
    cursor: pointer;
    transition: ease .5s;
    transform: scale(1.2,1.3);
}

.container span{
background: none;
padding: 0.5rem;    
font-size: 1.2rem;
font-weight: bold;
}